:root {
    --dark-purple: #13111b;
    --mid-purple: #201b2d;
    --light-purple: #382f4e;
    --links-hover: #ff79c6;
    --font-color: #fff;
}

body {
    background: var(--dark-purple);
    font-family: 'Inter', sans-serif;
}

.sidebar {
    width: 280px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 8px;
}

/* COMMON ELEMENTS */

.sidebar a, a > li{
    color: var(--font-color);
    text-decoration: none;
    &:hover {color: var(--links-hover);}
}

.sidebar__navigation, .library {
    background:  var(--mid-purple);
    border-radius: 8px;
}

.sidebar__title {
    font-size: 14px;
    font-weight: 700;
}

.sidebar__navigation ul li, .library__content {
    padding: 20px 0 12px 24px;
}

.fa-home, .fa-search, .fa-bars {
    margin-right: 15px
}

.logo {
    background: var(--mid-purple);
    border-radius: 8px;
    padding: 20px 0 0 24px;
    img {width: 80px;}
}

.libray__button, .language__button {
    font-weight: 600;
    border-radius: 20px;
    padding: 5px 15px;
    height: 32px;
    &:hover {
        transform: scale(1.04);
        transition: all .3 ease-in-out;
    }
}

/*-------------*/

.sidebar nav ul {
    padding-bottom: 10px;
    list-style: none;
}

.library {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
}

.fa-plus {
    color: var(--font-color);
    background: var(--mid-purple);
    border-radius: 50%;
    margin-left: 80px;
    padding: 12px 5px;
    &:hover {
        color: var(--links-hover);
        background: #2c243d;
    }
}

.first-playlist {
    background: var(--light-purple);
    border-radius: 8px;
    color: var(--font-color);
    margin: 24px 10px;
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    gap:20px;
    margin: 8px 8px;
    padding: 18px 20px;
}

.first-playlist p {
    font-size: 13px;
    font-weight: 400;
    padding: 15px 0 20px 0;
}

.libray__button {
    background: #fff;
    color: var(--mid-purple);
}

.bottom-list {
    padding: 95px 90px 24px 24px;
}

.bottom-list li {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--font-color);
    font-size: 11px;
    font-weight: 300;
    display: inline-block;
    padding: 0 10px 10px 0;
}

.language__button{
    color: var(--font-color);
    background: transparent;
    border: 1px solid #878787;
    margin: 0 0 20px 24px;
    &:hover {border: 1px solid var(--font-color);}
}