/*Responsividade header*/
@media (max-width: 1048px) {
  #header-search {
    width: 50%;
  }
}
@media (max-width: 942px) {
  #header-search {
    width: 30%;
  }
}
@media (max-width: 1000px) {
  #sigin {
    font-size: 12px;
  }
  #login {
    width: 80px;
    height: 48px;
  }
}
@media (max-width: 826px) {
  #hamburguer {
    display: block;
  }
  #hamburguer.active span:nth-child(2) {
    opacity: 0;
  }
  #hamburguer.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #hamburguer.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/*Responsividade sidebar*/
@media (max-width: 826px) {
  body{
    background-color: #121212;
  }
  #sidebar {
    display: none;
  }
  main {
    width: calc(100vw - 20px);
    margin-left: 11px;
  }
  header {
    margin-left: 0;
    width: 100%;
  }
  #header-container {
    background-color: black;
  }
  #header-arrows{
    display: none;
  }
    #sidebar.active {
    display: block;
    margin-top: 70px;
    border-radius: 0px;
  }
  #sidebar__navigation{
    border-radius: 0px;
    background-color: black;
  }
  #library{
    margin-top: 0;
    border-radius: 0px;
    background-color: black;
  }
  #library #cookies{
    display: none;
  }
}
/*Responsividade scroll*/
@media (max-height: 756px) {
  #sidebar.active{
    overflow-y: scroll;
  }
  ::-webkit-scrollbar-track {
  background-color: #121212;
}
::-webkit-scrollbar-thumb {
  background-color: #b3b3b3; 
  border-radius: 8px; 
}
::-webkit-scrollbar {
  width: 0px; 
}
}
/*Responsividade cards*/
@media (max-width: 561px){
  #cards-container div{
  width: 10rem;
  height: 10rem;
}
footer{
  display: none;
}
}
@media (max-width: 401px){
  #cards-container div{
  width: 8rem;
  height: 8rem;
}
}