:root {
    --dark-purple: #13111b;
    --mid-purple: #201b2d;
    --light-purple: #382f4e;
    --purple-hover:  #2c243d;
    --pink: #ff79c6;
    --ice-white: #EDF4F5;
    --dark-grey :#a7a7a7;
    --font-fam: 'Inter', sans-serif;
    --bg-icon:#131313
}