:root {
    --color-first: #13111b;
    --color-second: #201b2d;
    --color-third: #382f4e;

    --color-hover-bg:  #2c243d;
    --color-hover-link: #ff79c6;
    
    --color-font: #EDF4F5;
    --color-font-second :#a7a7a7;
}
  